@charset "utf-8";
.FrontComContent_list01-d1_c1{
   text-align: left;
    width:100%;
    color: #e3ce95;
    clear: both;
    font-size: 14px;
    overflow: hidden;
    padding:0px 0px 15px;
}
.FrontComContent_list01-d1_c1 UL{
   padding-bottom: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-image: none;
    padding-top: 0px;
}
.FrontComContent_list01-d1_c1 LI{
   padding-bottom: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-image: none;
    padding-top: 0px;
}
.FrontComContent_list01-d1_c1 .menu-first{
   width: 100%;
    overflow: hidden;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI{
   display: inline;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI A{
   text-align: center;
    line-height: 35px;
    display: block;
    height: 35px;
    border-bottom:dashed 1px #ebd8a7;
    text-decoration: none;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI A:hover{
   text-align: center;
    text-decoration: none;
    background:#723a19;
    color:#e3ce95;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI A.current{
   text-align: center;
    margin: 0px;
    background: #723a19;
    height: 35px;
    color: #e3ce95;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI A.current:hover{
   text-align: center;
    margin: 0px;
    background: #723a19;
    height: 35px;
    color: #e3ce95;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI A.current2{
   background: url(../../images/comcontent/first-bg-01.gif) no-repeat 0px -96px;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI A.current2:hover{
   background: url(../../images/comcontent/first-bg-01.gif) no-repeat 0px -96px;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI.menu-none A{
   text-align: center;
    line-height: 35px;
    display: block;
    height: 35px;
    text-decoration: none;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI.menu-none A:hover{
   text-align: center;
    width: 100%;
    background: #723a19;
    height: 32px;
    text-decoration: none;
    color:#e3ce95;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI.menu-none A.current{
   text-align: center;
    width: 100%;
      background: #723a19;
    height: 35px;
    color: #e3ce95;
}
.FrontComContent_list01-d1_c1 .menu-first UL LI.menu-none A.current:hover{
   text-align: center;
    width: 100%;
    background: #723a19;
    height: 35px;
    color: #e3ce95;
}
.FrontComContent_list01-d1_c1 .menu-second{
   padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    width: 200px;
    padding-right: 0px;
    display: none;
    height: 100%;
    overflow: hidden;
    padding-top: 0px;
}
.FrontComContent_list01-d1_c1 .menu-second UL LI{
   padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.FrontComContent_list01-d1_c1 .menu-second P{
   margin: 0px;
}
.FrontComContent_list01-d1_c1 .menu-second UL LI A{
   line-height: 25px;
    width: 200px;
    background: url(../../images/comcontent/second-bg-01.gif) no-repeat 0px 0px;
    height: 25px;
    text-decoration: none;
}
.FrontComContent_list01-d1_c1 .menu-second UL LI A:hover{
   width: 200px;
    background: url(../../images/comcontent/second-bg-01.gif) no-repeat 0px -25px;
    height: 25px;
}
.FrontComContent_list01-d1_c1 .menu-second UL LI A.current{
   width: 200px;
    background: url(../../images/comcontent/second-bg-01.gif) no-repeat 0px -25px;
    height: 25px;
}
.FrontComContent_list01-d1_c1 .menu-second UL LI A.current:hover{
   width: 200px;
    background: url(../../images/comcontent/second-bg-01.gif) no-repeat 0px -25px;
    height: 25px;
}
.FrontComContent_list01-d1_c1 A.menu-text1:link{
   text-align: center;
    padding-left: 0px;
    color: #723a19;
    text-decoration: none;
}
.FrontComContent_list01-d1_c1 A.menu-text1:visited{
   text-align: center;
    padding-left: 0px;
    color: #723a19;
    text-decoration: none;
}
.FrontComContent_list01-d1_c1 A.menu-text1:active{
   padding-left: 0px;
    color: #723a19;
    text-decoration: none;
}
.FrontComContent_list01-d1_c1 A.menu-text1:hover{
   text-align: center;
    color: #e3ce95;
    text-decoration: underline;
}
A.menu-text2:link{
   padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #723a19;
    text-decoration: none;
    padding-top: 0px;
}
A.menu-text2:visited{
   padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #e3ce95;
    text-decoration: none;
    padding-top: 0px;
}
A.menu-text2:active{
   padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #e3ce95;
    text-decoration: none;
    padding-top: 0px;
}
.FrontComContent_list01-d1_c1 A.menu-text2:hover{
   color: #e3ce95;
    text-decoration: underline;
}
#box_left_sub1{
   padding-left: 20px;
    width: 100%;
}
